$colors: (
    navbar-border: #d8dadd,
    border: #E5E7EB,
    primary: #008080,
    dark: #004040,
    text-primary: #111827,
    text-muted: #6B7280
);

.next-dashboard {
    height: 100%; 
    overflow-y: auto;
}

.separator {
    border-top: 1px solid map-get($colors, navbar-border);
}

.oe-border {
    border: 2px solid map-get($colors, border);
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 8px;
}

.oe-header-title {
    color: map-get($colors, text-primary);
    font-size: 1rem;
    font-weight: 700;
}

.oe-kpi-title {
    color: map-get($colors, text-muted);
    font-size: 0.7rem;
    font-weight: 400;
}

.oe-kpi-value {
    color: map-get($colors, text-primary);
    font-size: 1.5rem;
    font-weight: 700;
}

.dashboard-card-title {
    color: map-get($colors, text-primary);
}

.button-primary, .button-primary:hover {
    background-color: map-get($colors, primary);
    color: #ffffff;
}

.button-outline-primary, .button-outline-primary:hover {
    background-color: #ffffff;
    color: map-get($colors, primary);
    border: 1px solid map-get($colors, primary);
}

@media (min-width: 768px) {
    .oe-border {
        border: 4px solid map-get($colors, border);
        padding: 1rem;
        border-radius: 12px
    }

    .oe-header-title {
        font-size: 1.5rem;
    }

    .oe-kpi-title {
        font-size: 1rem;
    }

    .oe-kpi-value {
        font-size: 1.7rem;
    }

    .row > *:not(:first-child):not(:last-child) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .row > *:first-child {
        padding-right: 0.5rem;
    }

    .row > *:last-child {
        padding-left: 0.5rem;
    }
}